spring:
  application:
    name: ai-agent-backend

  datasource:
    url: jdbc:postgresql://${DB_HOST:postgres}:${DB_PORT:5432}/${DB_NAME:rag_store}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  ai:
    vectorstore:
      pgvector:
        index-type: HNSW
        distance-type: COSINE_DISTANCE
        dimensions: 768
        initialize-schema: true

    ollama:
      base-url: http://${OLLAMA_HOST:ollama}:11434
      chat:
        options:
          model: llama3.2
          max-tokens: 1024
          temperature: 0.7
      embedding:
        model: nomic-embed-text
    mcp:
      client:
        sse:
          connections:
            shopping-list:
              url: http://shopping-mcp:8081

# FOR USE WITH ANTHROPIC API (uncomment to use)
#  anthropic:
#    api-key: ${ANTHROPIC_API_KEY:}
#    chat:
#      options:
#        model: claude-sonnet-4-20250514
#        max-tokens: 1024
#        temperature: 0.7

server:
  port: 8080
  servlet:
    context-path: /api

rag:
  csv:
    path: classpath:data/knowledge.csv
  vectorstore:
    top-k: 5
    similarity-threshold: 0.7
